@media (max-width: 1700px) {
    .header__blocks {
        flex-wrap: wrap;
        justify-content: center;
    }

    .choose__blocks {
        flex-wrap: wrap;
    }

    .practice__blocks {
        flex-wrap: wrap;
    }

    .we__blocks {
        flex-wrap: wrap;
    }

    .company {
        flex-wrap: wrap;
    }

    .support__cards {
        flex-wrap: wrap;
    }
}

@media (max-width: 1040px) {
    .container {
        width: 700px;
    }

    .contacts__column {
        flex-direction: column;
        text-align: center;
    }

    .company {
        flex-direction: column;
    }

    .company svg {
        margin-bottom: 110px;
        transform: scale(2);
    }
}

@media (max-width: 730px) {
    .container {
        width: 500px;
    }

    .header__banner {
        background-size: 300%;
    }
}

@media (max-width: 605px) {
    .we__most img {
        width: 90%;
        margin-bottom: 40px;
    }

    .we__most {
        text-align: center;
    }
}

@media (max-width: 520px) {
    .header__info-heading {
        font-size: 40px;
    }
}