* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-Light.ttf);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    margin-top: 150px;
}

.header__inner {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 116px;
    padding-top: 40px;
}

.header__menu {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
    margin-left: 10rem;
}

a.header__menu-link:active, a.header__menu-link {
    text-decoration: none;
    color: #737373;
}

a.header__menu-link:hover {
    color: #FFA62B;
}

.header__menu-link {
    margin: 0 15px;
}

.header__banner {
    width: 100%;
    background: url(./img/cover.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.header__info-heading {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    color: #252B42;
    margin: 30px 0px;
    width: 509px;
    height: 160px;
}

.header__info {
    display: flex;
    flex-direction: column;
}

.header__info-description {
    width: 376px;
    height: 60px;
    margin: 35px 0px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #737373;
}

.header__buttons {
    margin-bottom: 120px;
}

.header__buttons-left {
    border: 1px #00A0C1 solid;
    background: none;
    border-radius: 37px;
    padding: 10px 36px;
    color: #00A0C1;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
}

.header__buttons-left:hover {
    background: #FFA62B;
    color: white;
    border: #FFA62B;
    transition: 0.3s;
}

.header__buttons-right {
    border: 1px #00A0C1 solid;
    background: none;
    border-radius: 37px;
    padding: 10px 36px;
    color: #00A0C1;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    margin-left: 10px;
}

.header__buttons-right:hover {
    background: #FFA62B;
    color: white;
    border: #FFA62B;
    transition: 0.3s;
}

.header__blocks {
    display: flex;
    margin-top: 100px;
    position: absolute;
    top: 500px;
}

.header__blocks-digital {
    margin: 0 20px;
    background: white;
    padding: 20px 60px;
    width: 225px;
    height: 210px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin-bottom: 25px;
}

.header__blocks-heading {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #252B42;
    width: 255px;
    height: 32px;
    padding-top: 20px;
}

.header__blocks-description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__blocks-img {
    justify-content: flex-start;
    padding-top: 15px;
    width: 45px;
    height: 40px;
}

.header__blocks-digital:hover {
    background: #00A0C1;
    color: white;
    transition: 0.5s;
}

.header__blocks-national {
    margin: 0 20px;
    background: white;
    padding: 20px 60px;
    width: 225px;
    height: 210px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin-bottom: 25px;
}

.header__blocks-marketing {
    margin: 0 20px;
    background: white;
    padding: 20px 60px;
    width: 225px;
    height: 210px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin-bottom: 25px;
}

.choose__blocks {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.choose__heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    text-align: center;
    padding-bottom: 20px;
}

.choose__content {
    width: 100%;
    max-width: 510px;
    margin: 0 auto;
    text-align: center;
}

.choose__content-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    padding-bottom: 60px;
}

.choose__inner {
    padding-left: 70px;
    padding-top: 20px;
    text-align: center;
}

.choose__inner-number {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    margin: 10px 0px;
}

.choose__inner-description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
    margin: 10px 0px;
}

.practice__heading {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    text-align: center;
    padding-bottom: 20px;
}

.practice__content-description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #737373;
    padding-bottom: 60px;
}

.practice__blocks {
    display: flex;
    align-items: flex-end;
}

.practice__blocks-inner {
    padding: 20px;
}

.practice__blocks-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
    max-width: 160px;
    padding-bottom: 15px;
    padding-left: 35px;
}

.practice__blocks-description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    max-width: 160px;
    padding-bottom: 30px;
    padding-left: 35px;
}

.we__heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    max-width: 460px;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 auto;
}

.we__content-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #737373;
    max-width: 511px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.we__blocks {
    display: flex;
}

.we__inner {
    margin-left: 100px;
}

.we__inner-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    max-width: 330px;
    margin-bottom: 15px;
}

.we__inner-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    max-width: 330px;
}

.we__about {
    display: flex;
    margin-top: 40px;
}

.we__about-fox {
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
}

.we__about-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
    margin-left: 46px;
    padding-top: 5px;
}

.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe {
    background: #16697A;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 980px;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    border-radius: 2px;
    position: absolute;
    right: 500px;
}

.subscribe__inner-description {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    max-width: 258px;
}

.subscribe__form-input {
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    width: 450px;
    height: 58px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #737373;
    padding-left: 15px;
}

.subscribe__form-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: white;
    background: #FFA62B;
    width: 117px;
    height: 60px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #E6E6E6;
    position: absolute;
    right: 63px;
}

.subscribe__area {
    background: #252B42;;
    height: 77px;
    margin-top: 150px;
}

.support__heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 60px;
}

.support__content-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    max-width: 470px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
    margin-bottom: 80px;
}

.support {
    background: #F3F3F3;
    padding-bottom: 150px;
}

.support__cards {
    display: flex;
}

.support__card {
    background: white;
    padding: 50px;
    text-align: center;
}

.support__card-mail {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #252B42;
}

.support__card svg {
    padding-bottom: 10px;
}

.support__card-heading {
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 16px;
line-height: 24px;
color: #252B42;
margin-top: 15px;
margin-bottom: 20px;
}

.support__card-request {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFA62B;
    padding: 10px 5px 10px 5px;
    border: 1px solid #FFA62B;
    border-radius: 5px;
}

.support__card:hover {
    background: #252B42;
    color: white;
    border: 1px solid white;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.5s;
}

.agency {
    display: flex;
    padding-bottom: 50px;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
}

.agency__heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #252B42;
    margin-bottom: 10px;
}

.agency__description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
}

.agency__button-contact {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: #FFA62B;
    border-radius: 5px;
    border: none;
    padding: 15px 40px 15px 40px;
}

.contacts {
    background: #16697A;
}

.contacts__column {
    display: flex;
    justify-content: space-around;
}

.contacts__block {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contacts__heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    color: white;
}

.contacts__item {
    color: white;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.contacts__block-icon {
    position: absolute;
    bottom: auto;
}

.contacts__info {
    color: white;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-left: 35px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
}

.footer__messengers a {
    margin-left: 15px;
}

.footer__messengers {
    display: flex;
    align-items: center;
}