.blog__heading {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}

.blog__content-heading {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;  
    color: #21243D;
}

.blog__content {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 15px;
    margin-top: 20px;
}

.blog__date {
    display: flex;
    font-family: 'Heebo', sans-serif;
    padding: 20px 0;
    white-space: nowrap;
}

.blog__date-year {
    border-right: 1px solid #E0E0E0;
    padding-right: 15px;
    color: #21243D;
}

.blog__date-text {
    padding-left: 15px;
    color: #8695A4;
}

.blog__content-description {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    max-width: 1100px;
    color: #21243D;
}