* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Heebo', sans-serif;
}

.contact__heading {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 50px;
    color: #21243D;
    padding-bottom: 15px;
}

.contact__headline {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-weight: bold;
    font-size: 24px;
    line-height: 60px;
    color: #21243D;
}

.contact__date {
    display: flex;
    font-family: 'Heebo', sans-serif;
    white-space: nowrap;
    align-items: center;
}

.contact__date-year {
    color: white;
    background-color: #FF7C7C;
    border-radius: 16px;
    font-family: 'Heebo', sans-serif;
    padding: 2px 10px 2px 10px;
    font-size: 18px;
}

.contact__date-text {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #21243D; 
    margin-left: 15px;
}

.contact__content-description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    line-height: 23px;
    margin-top: 20px;
}

.contact__bottom {
    display: flex;
    justify-content: center;
}

.contact__car {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
