@media (max-width: 600px) {
    .header__content {  
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 50px;
    }
    .header__info {
        text-align: center;
    }
    .header__menu {
        display: none;
    }
    .burger {
        display: block;
        margin-left: auto;
        margin-top: 20px;
    }
}

@media (max-width: 770px) {
    .post__blocks {
        flex-wrap: wrap;
    }

    .post {
        width: 100%;
    }

    .post:nth-child(1) {
       margin: 0 0 15px 0;
    }
}

@media (max-width: 320px) {
    .post__date {
        flex-wrap: wrap;
    }
}

@media (max-width: 650px) {
    .featured__news {
        flex-wrap: wrap;
    }

    .featured__news-right {
        padding: 15px 0 0 0;
    }

    .contact__content {
        display: flex;
        flex-wrap: wrap;
    }

    
}

@media (max-width: 420px) {
    .featured__news {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .featured__data {
        justify-content: center;
    }

    .featured__heading {
        text-align: center;
    }

    .featured__news-img {
        width: 339px;
        height: auto;
    }

    .contact__content {
        display: flex;
        flex-wrap: wrap;
    }

    .contact__content-description {
        display: flex;
        flex-wrap: wrap;
    }
}
