* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover {
    color: red;
}

@font-face {
    font-family: 'Heebo';
    src: url('./Heebo-VariableFont_wght.ttf');
}

.header__menu-item {
    padding: 20px 0 0 30px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Heebo', sans-serif;
}

.burger {
    padding: 5px 15px;
    width: 65px;
    display: none;
}

.burger__line {
    border-bottom: 2px solid #21243D;
    margin-bottom: 7px;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
}

.header__button {
    color: white;
    background-color: #FF6464;
    border: none;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
}

.header__info-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    padding-bottom: 10px;
}


.header__content {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.header__ava-image {
    width: 232px;
    height: 224px;
}

.header__info {
    max-width: 497px;
}

.header__info-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

.posts {
    background-color: #EDF7FA;
    padding-bottom: 40px;
}

.posts__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.posts__header-recent {
    font-size: 20px;
    color: #21243D;
}

.posts__header-view {
    font-size: 16px;
    color: #00A8CC;
}

.post__blocks {
    display: flex;
    align-items: baseline;
}

.post {
    background-color: white;
    border-radius: 4px;
    padding: 15px;
    width: 50%;
}

.post:nth-child(1) {
    margin-right: 15px;
}

.post__heading {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
}

.post__date {
    display: flex;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    padding: 15px 0;
}

.post__date-year {
    border-right: 1px solid black;
    padding-right: 15px;
}

.post__date-text {
    padding-left: 15px;
}

.post__description {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

.wrapper {
    margin: 20px 0;
}

.featured__heading {
    font-family: 'Heebo', sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 60px;  
    color: #21243D;
}

.featured__heading-work {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}

.featured__news {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E0E0E0;
}

.featured__news-right {
    padding: 20px;
}

.featured__news-heading {
    font-family: 'Heebo' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.featured__data {
    display: flex;
    padding: 20px 0;
    align-items: center;
}

.featured__data-year {
    font-size: 18px;
    color: white;
    background: #142850;
    border-radius: 16px;
    padding: 2px 10px;
}

.featured__data-text {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    margin-left: 15px;
}

.featured__news-description {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
    max-width: 1100px;
}

.footer__icons {
    text-align: center;
}

.footer__icon {
    margin: 20px 12px 20px 12px;
}

.footer__copyright {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #21243D;
    margin-bottom: 40px;
    text-align: center;
}